my-app {
  header {
    background: #5851ff;
    color: white;
    height: 56px;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    align-items: center;

    h1 {
      flex-grow: 1;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 0 12px;
    }
  }
}
