.container {
  display: flex;
  height: calc(100vh - 56px);

  .menu {
    min-width: 225px;
    margin-top: 10px;
    margin-left: 10px;
    overflow-y: auto;
  }

  .content {
    margin-left: 20px;
    padding-right: 10px;
    overflow-y: auto;
  }
}
