.app-menu {
  list-style-type: none;

  ul {
    padding-bottom: 6px;
    padding-left: 12px;
  }

  li {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;

    a {
      color: black;
      text-decoration: none;

      &:hover{
        font-weight: 600;
      }

      &.link-active {
        font-weight: 600;
        color: #5851ff;
      }
    }

    ul li {
      font-size: 12px;
      a {
        color: #464646;
      }
      ul li {
        a {
          color: #7d7d7d;
        }
      }
    }
  }
}
